<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/homepage.css">
    <title>Homepage</title>
    <script src="../js/homepage.js"></script>
</head>
<body>
<div id="loginModal" style="display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: white; padding: 20px; border: 1px solid black; border-radius: 10px; text-align: center;">
    <p>您尚未登录，请先登录或注册。</p>
    <a href="http://121.36.97.80:8080/schedule_system/html/login.html">登录</a>
    <a href="http://121.36.97.80:8080/schedule_system/html/regist.html">注册</a>
</div>
<div class="container">
    <header class="header">
        <h1 style="text-align: left; margin-left: 50px;" class="center" th:text="${username}"></h1>
    </header>
    <div class="content-wrapper">
        <aside class="sidebar">
            <nav>
                <ul>
                    <li><a id="logoutButton" class="logout" href="/schedule_system/user/logout" style="color: cadetblue; font-family: 'Comic Sans MS', cursive; font-size: 25px;">退出登录</a></li>
                </ul>
            </nav>
        </aside>
        <main class="main-content" style="background-color: lightgoldenrodyellow;">
            <table>
                <tr>
                    <th>文件名</th>
                    <th colspan="2">操作</th>
                </tr>
                <tr th:each="f:${allFiles}">
                    <td th:text="${f.getName()}">文件名</td>
                    <td><a class="el-button el-button-primary" th:href="@{file/download(fileName=${f.getName()})}">下载</a></td>
                    <td><a class="el-button el-button-danger" th:href="@{file/delete(fileName=${f.getName()})}">删除</a></td>
                </tr>
            </table>
            <form class="upload" action="/schedule_system/file/upload" method="post" enctype="multipart/form-data" style="font-family: 'Comic Sans MS', cursive;">
                上传文件:<input type="file" name="myFile" id="myFile" onchange="checkFile()"/>
                重命名:<input type="text" name="fileName" id="fileName"/>
                <button class="el-button-primary1" type="button" id="uploadButton" onclick="uploadFile()" disabled style="border-radius: 4px; font-family: 'Comic Sans MS', cursive; font-size: 15px;">上传文件</button>
            </form>
            <div id="progressModal" style="display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: white; padding: 20px; border: 1px solid black; border-radius: 10px; text-align: center;">
                <progress id="uploadProgress" value="0" max="100" style="width: 100%;"></progress>
                <span id="uploadStatus"></span>
                <button id="cancelButton" onclick="cancelUpload()">取消上传</button>
            </div>
        </main>
    </div>
</div>
</body>
</html>