table {
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    border-collapse: collapse;
    border-radius: 10px;
    font-family: 'Comic Sans MS', cursive;
}

th, td {
    border: 1px solid black;
    text-align: center;
    border-radius: 10px;
}

.center {
    text-align: center;
}

.upload {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 630px;
    .center ;
}


.container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* 使容器占据整个视口的高度 */
}

.header {
    padding: 0;
    text-align: left;
    background-color: lightblue;
}

.content-wrapper {
    flex: 1; /* 占据剩余空间 */
    display: flex; /* 使用flex布局 */
}

.sidebar {
    background-color: whitesmoke;
    padding: 20px;
    width: 200px; /* 可以根据需要调整侧边栏的宽度 */
}

.main-content {
    flex: 1; /* 占据剩余空间 */
    padding: 20px;
    background-color: #fff;
    overflow: auto; /* 如果内容过多，允许滚动 */
}

aside {
    width: 200px;
    height: 100%;
    background-color: #f0f0f0;
    position: fixed;
    overflow-y: auto; /* 如果内容过多，允许滚动 */
}

/* 导航链接样式 */
aside nav ul {
    list-style-type: none;
}

aside nav ul li {
    margin-bottom: 10px;
}

aside nav ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

/* 导航链接点击时或鼠标悬停时的样式 */
aside nav ul li a:hover,
aside nav ul li a:active {
    background-color: gold;
}

.el-button {
    display: inline-block;
    padding: 6px 15px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    margin-right: 5px; /* 按钮之间的间距 */
}

.el-button-primary {
    background-color: #409EFF; /* 蓝色，模拟下载按钮 */
}

.el-button-danger {
    background-color: #F56C6C; /* 红色，模拟删除按钮 */
}

.el-button-primary1 {
    background-color: gold;
}

#searchForm {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
#searchForm input[type="text"] {
    padding: 5px;
    font-size: 14px;
}
#searchForm button {
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
}