aside{

}
aside nav ul {
    list-style-type: none;
}

aside nav ul li {
    margin-bottom: 10px;
}

aside nav ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}
aside nav ul li a:hover,
aside nav ul li a:active {
    background-color:gold;
}